# User-specific files
*.vcxproj.user
*.suo

# Visual C++ cache files
*.sdf
*.opensdf
*.VC.VC.opendb
*.VC.db

# Visual Studio 2013 cache/options directory
src/.vs/

#Build results
src/x64
src/Debug
src/Engine/[Dd]ebug
src/Engine/x64
src/Host/Debug
src/Host/GeneratedFiles
src/Host/x64
